<%= semantic_form_for @work_log do |f| %>
  <%= f.semantic_errors :base %>

  <%= f.inputs do %>
    <%= hidden_field_tag :save_and_next %>
    <%= f.input :account, collection: @accounts %>
    <%= f.input :work_type, collection: options_for_select(work_types_for_select(@work_types), @work_log.work_type_id) %>
    <%= f.input :started_at, as: :string,
      input_html: {
        value: (@work_log.started_at ? I18n.l(@work_log.started_at) : '')
      } %>
    <%= f.input 'ended_at', as: :string %>
    <%= f.input :rating, as: :select, collection: (1..5), input_html: {class: :rating} %>
    <%= f.input :rating_comment, required: true, input_html: {class: :rating} %>
    <%= f.input :rated_user, collection: @users, required: true, input_html: {class: :rating} %>
    <% if request.parameters["action"] == "new" %>
      <div id="timer">
        <span id="timer_notice"></span>
        <input type="button" id="start_timer" value="START" />
        <input type="button" id="stop_timer" value="STOP" />
      </div>
    <% end %>
    <%= f.input :duration, hint: "Zadejte počet minut." %>

    <%= f.input :comment %>
  <% end %>
  <%= f.actions :submit, :cancel %>
<% end %>

<% if request.parameters["action"] == "new" %>
  <div class="hide stop-watch" id="timer">
    <input class="button" type="button" id="start_timer" value="START" />
    <input class="button" type="button" id="stop_timer" value="STOP" />
    <span id="timer_notice"></span>
  </div>
<% end %>

