<%= content_tag(
      :div,
      'data-id' => recent_work_log.id,
      'data-work-type' => recent_work_log.work_type.id,
      'data-account' => recent_work_log.account.id,
      'data-comment' => recent_work_log.comment
    ) do
%>
  <p>
    <strong><%= recent_work_log.work_type.name %></strong><br>
    <%= recent_work_log.account.name %>
  </p>
  <%= link_to_button(
    "Použít jako vzor",
    'javascript: void(0);',
    icon: "page_copy.png",
    class: 'fill-by-template',
    title: 'Použít v aktuálním formuláři'
  ) %>
  <%= link_to_button(
    "Uložit a přejít",
    'javascript: void(0);',
    icon: "page_save.png",
    class: 'save-and-next',
    title: 'Kliknutím uložíte stávající záznam a začnete nový s použitím této šablony.'
  ) %>
<% end %>
