<% title "#{@work_log.work_type.name}: #{I18n.l(@work_log.started_at, format: :short)}" %>

<%= show_for @work_log do |w| %>
  <%= w.association :user %>
  <%= w.association :account do %>
    <%= link_to @work_log.account.name, @work_log.account %>
  <% end %>
  <%= w.association :work_type %>
  <%= w.attribute :duration do %>
    <%= to_hours @work_log.duration, format: :long %>
  <% end %>
  <% if @work_log.comment.present? %>
    <%= w.attribute :comment do %>
      <%= content_tag(:pre, @work_log.comment)  %>
    <% end %>
  <% end %>
  <%= w.attribute :started_at %>
  <% if @work_log.work_type.ratable? %>
    <%= w.attribute :rating %>
    <%= w.attribute :rated_user %>
    <%= w.attribute :rating_comment %>
  <% end %>
<% end %>


<%= link_to 'Upravit aktivitu', edit_work_log_path(@work_log) %> |
<%= link_to 'Smazat aktivitu', @work_log, data: { confirm: 'Opravdu chcete smazat?', method: :delete } %> |
<%= link_to 'Zpět', work_logs_path %>

<% content_for :sidebar do %>
  <%= sidebar_buttons_area { link_to_button("Přidat záznam", new_work_log_path, icon: "clock_add.png" ) } %>
  <%= sidebar_buttons_area { link_to_button("Použít jako vzor", new_work_log_path(pattern_id: @work_log), icon: "page_copy.png" ) } %>
<% end %>
